<nav>
    <!-- Botones para Inicio Blogs y Tienda -->
    <div class="div-botones">
        <a href="/">
            <button>
                <span>Paste Link</span>
                <span></span>
                <span>Inicio</span>
            </button>
        </a>

        <a href="/blogs">
            <button>
                <span>Paste Link</span>
                <span></span>
                <span>Blogs</span>
            </button>
        </a>

        <a href="/catalogo">
            <button>
                <span>Paste Link</span>
                <span></span>
                <span>Tienda</span>
            </button>
        </a>

        <div class="separador"></div>
        <!-- Div para los enlaces de autenticación -->
        <div class="auth-links" style="margin-left: auto;">
            <a href="/login">
                <button>
                    <span>Paste Link</span>
                    <span></span>
                    <span>Inicia sesión</span>
                </button>
            </a>
            <a href="/sign-up"><button>
                    <span>Paste Link</span>
                    <span></span>
                    <span>Regístrate</span>
                </button></a>
        </div>

    </div>

    <div class="boton-ruta-protegida">

        <a href="/private">

            <button>Ruta protegida 🕵️‍♂️</button>

        </a>

    </div>

</nav>